* {
  font-size: 30px;
  font-family: Liberation Sans;
}

body {
  margin: 0px;
}


.versno {
  color: orange
}
.vers, .txt {
  margin-bottom: 9px;
  padding: 5px;
}

tr {
  vertical-align: top
}

.title {
  color: red
}

.vers {
  color: blue;
}

object {
/*width: 100%; */
  display: block;
}

.vers b {
  color: red;
}

#bottom {
  border-top:1px solid #0033f0;
  background-color:#e7f3ff;
  position:absolute;
  bottom:0px;
  width: 100%;
  position: fixed;
}

ul {
  margin-top: 0px;
}
